<html>
	<head>
		<title>Ver todos</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div th:each="time : ${times}">
			<span th:text="${'ID: ' + time.id}"></span><br>
			<span th:text="${'Nome: ' + time.nome}"></span><br>
			<br>
			<br>
		</div>
		
		<div th:each="atleta : ${atletas}">
			<span th:text="${'ID: ' + atleta.id}"></span><br>
			<span th:text="${'Nome: ' + atleta.nome}"></span><br>
			<span th:text="${'Posição: ' + atleta.posicao}"></span><br>
			<span th:text="${'Modalidade: ' + atleta.modalidade}"></span><br>
			<span th:text="${'Time: ' + atleta.time}"></span><br>
			<br>
			<br>
		</div>
	</body>
</html>