<html>
	<head>
		<title>Funcionarios</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		
		
		<div th:each="funcionario : ${funcionarios}">
			<span th:text="${'ID: ' + funcionario.id}"></span><br>
			<span th:text="${'Nome: ' + funcionario.nome}"></span><br>
			<span th:text="${'Sexo: ' + funcionario.sexo}"></span><br>
			<span th:text="${'Nascimento: ' + funcionario.dataNascimento}"></span><br>
			<span th:text="${'CPF: ' + funcionario.cpf}"></span><br>
			<br>
			<br>
		</div>
	</body>
</html>