<html>
	<head>
		<title>Funcionarios</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Lista de Funcionários</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Sexo</th>
				<th>Nascimento</th>
				<th>Cpf</th>
			</tr>
			<tr th:each="funcionario : ${funcionarios}">
				<td th:text="${funcionario.id}"></td>
				<td th:text="${funcionario.nome}"></td>
				<td th:text="${funcionario.sexo}"></td>
				<td th:text="${funcionario.dataNascimento}"></td>
				<td th:text="${funcionario.cpf}"></td>
			</tr>
		
		</table>
	</body>
</html>