<html>
	<head>
	    <title>Inserir Valor</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
		<div th:replace="fragments/header"></div>
		<div class="container">
			<form class="form-group mb-4" style="max-width: 363px;" action="/insertvaloresvariaveis" method="POST" modelAttribute="valoresvariaveis">
			
	  			Competência:<br>
	  			<input class="form-control" type="number" name="competencia">
	  			<br>
	  			Descrição:<br>
	  			<input class="form-control" type="text" name="descricao">
	  			<br>
	  			Tipo:<br>
  				<select class="form-control" type="text" name="tipo">
  					<option value="provento">Provento</option>
  					<option value="desconto">Desconto</option>
	  			</select>

	  			Valor:<br>
	  			<input class="form-control" type="text" name="valor">
	  			<br>
	  			Referente a:
	  			<select class="form-control" type="text" name="funcionario"><br>
	  				<option  th:each="funcionario : ${funcionarios}"  th:value="${funcionario.id}" th:text="${funcionario.nome}"></option> 
	  			</select>
	  			<br>
	  			<input type="submit"   class="btn btn-primary">
			</form>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js" ></script>
	</body>
</html>