<html>
	<head>
	    <title>Inserir Funcionario</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
		<div th:replace="fragments/header"></div>
		<div class="container">
			<form class="form-group mb-4" style="max-width: 363px;" action="/insertfuncionario" method="POST" modelAttribute="funcionario">
			
	  			Nome:<br>
	  			<input class="form-control" type="text" name="nome"><br>
	  			<br>
	  			Sexo:<br>
	  			<select class="form-control" type="text" name="sexo"><br>
	  				<option  value="m">Masculino</option> 
	  				<option  value="f">Feminino</option> 
	  			</select>
	  			<br>
	  			Nascimento:<br>
	  			<input class="form-control" type="date" name="dataNascimento"><br>
	  			<br>
	  			Cpf:<br>
	  			<input class="form-control" type="text" name="cpf"><br>
	  			<br>
	  			Data de Admissao:<br>
	  			<input class="form-control" type="date" name="dataAdmissao"><br>
	  			<br>
	  			Salario:<br>
	  			<select class="form-control" type="text" name="salario"><br>
	  				<option  th:each="salario : ${salarios}"  th:value="${salario.id}" th:text="${salario.valor}"></option> 
	  			</select>
	  			<br>
	  			
	  			Setor:<br>
	  			<select class="form-control" type="text" name="setor"><br>
	  				<option  th:each="setor : ${setores}"  th:value="${setor.id}" th:text="${setor.nome}"></option> 
	  			</select>
	  			<br>
	  			
	  			<input type="submit"   class="btn btn-primary">
			</form>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js" ></script>
		
	</body>
</html>