<html>
	<head>
	    <title>Inserir Funcionario</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
		<div th:replace="fragments/header"></div>
		<div class="container">
			<form class="form-group mb-4" style="max-width: 363px;" action="/insertsetor" method="POST" modelAttribute="setor">
			
	  			Nome Setor<br>
	  			<input class="form-control" type="text" name="nome"><br>
	  			<br>
	  		
	  			<input type="submit"   class="btn btn-primary">
			</form>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js" ></script>
	</body>
</html>