<html>
	<head>
	    <title>Inserir Funcionario</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
		<div id="header"></div>
		<form class="form" action="/insertfuncionario" method="POST" modelAttribute="funcionario">
		
  			Nome:<br>
  			<input type="text" name="nome"><br>
  			<br>
  			Sexo:<br>
  			<input type="text" name="sexo"><br>
  			<br>
  			Nascimento:<br>
  			<input type="date" name="dataNascimento"><br>
  			<br>
  			Cpf:<br>
  			<input type="text" name="cpf"><br>
  			<br>
  			Data de Admissao:<br>
  			<input type="date" name="dataAdmissao"><br>
  			<br>
  			Salario:<br>
  			<input type="text" name="idSalario"><br>
  			<br>
  			Setor:<br>
  			<input type="text" name="idSetor"><br>
  			<br>
  			
  			<input type="submit" >
		</form>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js" ></script>
		<script src="header.js"></script>
	</body>
</html>